<div class="main-header">
  <div class="main-header__logo">
    <p class="logo-hosei">法政大学YOSAKOIソーランサークル</p>
    <p class="logo-hoyoren">鳳遙恋</p>
  </div>
  <div class="main-header__otori">
    <%= image_tag ('otori_white.png') %>
  </div>
  <div class="main-header__list">
    <%= link_to "HOME", { :controller => "top", :action => "index"}, :style=>"color:white;", :class => "main-header__list--font" %>
    <%= link_to "MEMBER", { :controller => "top", :action => "member"}, :style=>"color:white;", :class => "main-header__list--font" %>
    <%= link_to "ACTIVITY", { :controller => "top", :action => "activity"}, :style=>"color:white;", :class => "main-header__list--font" %>
    <%= link_to "PERFORMANCE", { :controller => "top", :action => "performance"}, :style=>"color:white;", :class => "main-header__list--font" %>
    <%= link_to "INFOMATION", { :controller => "top", :action => "infomation"}, :style=>"color:white;", :class => "main-header__list--font" %>
  </div>
</div>