<%= render 'shared/header' %>
<div class="top">
  <%= image_tag ('top_img.jpg') %>
</div>
<div class="main">
  <div class="main-menu">
    <p class="main-menu__logo">▲ M E N U ▼</p>
    <div class="image-box">
      <div class="image-box__activity">
          <%= image_tag ('activity.jpg') %>
      </div>
      <div class="image-box__member">
        <%= image_tag ('member.jpg') %>
      </div>
      <div class="image-box__performance">
          <%= image_tag ('performance.jpg') %>
      </div>
    </div>
  </div>
  <div class="sub-menu">
    <p class="schedule-logo">▽ S C H E D U L E △</p>
    </div>
    <%= render 'home/schedule' %>
    <p class="credit">
    - made by pio arima braian katan -
    </p>
  </div>
</div>