= render 'shared/header'
.top
  = image_tag ('top_img.jpg')
.main
  .main-menu
    %p.main-menu__logo ▲ M E N U ▼
    .image-box
      .image-box__activity
        = image_tag ('activity.jpg')
      .image-box__member
        = image_tag ('member.jpg')
      .image-box__performance
        = image_tag ('performance.jpg')
  .sub-menu
    %p.schedule-logo ▽ S C H E D U L E △
  = render 'home/schedule'
  %p.credit - made by pio arima braian katan -
