= render 'shared/header'
.top
  = video_tag ('/assets/videos/hoyoren-example1.MP4'), autoplay: true, muted: true, loop: true
.main
  .main-menu
    %p.main-menu__logo ▲ M E N U ▼
    .image-box
      %a{href: "/activities/index"} 
        .image-box__activity
          = image_tag ('activity.jpg')
      %a{href: "/members/index"} 
        .image-box__member
          = image_tag ('member.jpg')
      %a{href: "/performances/index"} 
        .image-box__performance
          = image_tag ('performance.jpg')
  .sub-menu
    %p.schedule-logo ▽ S C H E D U L E △
  = render 'home/schedule'
  %p.credit ©︎2019 hoyoren. All Rights Reserved.
  %p.sns-icon
    = link_to "https://twitter.com/hoyoren" do
      %i.fab.fa-twitter
    = link_to "https://www.youtube.com/channel/UCb8TOgT4dd-ZYy69vjt4EZw" do
      %i.fab.fa-youtube
