= render 'shared/header'
.top
  %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "1", :frameborder => "1", :src => "https://www.youtube.com/embed/m5N0ZzcPIcM?autoplay=1&mute=1&controls=0&version=3&loop=1&playlist=tiQKaydfbQY"}
-# .photo
-# 間に合ったら実装
.main
  .main-menu
    %p.main-menu__logo ▼ M E N U ▼
    .image-box
      %a{href: "/activities/index"} 
        .image-box__activity
          = image_tag ('f_activity.png')
      %a{href: "/members"} 
        .image-box__member
          = image_tag ('f_member.png')
      %a{href: "/performances/index"} 
        .image-box__performance
          = image_tag ('f_performance.png')
  .sub-menu
    %p.schedule-logo ▽ S C H E D U L E 2 0 1 9 -  2 0 2 0 ▽
  = render 'home/schedule'
      