= render 'shared/header'
.performance
  .performance-header
    %p.performance-header__logo ▽ 演 舞 紹 介 ▽
  .body-main
    .body-main__photo
      = image_tag ('f_saikasai.jpg')
    .body-main__f
      .body-main__f--image
        = image_tag ('f_index.jpg')
      .body-main__f--comment
        -# %h1 廻覆〜ヱフ〜
        .body-main__f--comment--detail
          %p 新たな時代に胸を弾ませ、誰もが街に酔いしれる
          %p しかし広場に集まる人混み、夜明けと共に見つかる亡き人
          %p< 
            = "背中には人狼の" 
            %em<> 爪痕...
  .main-f
    %h1 ▽ 今 年 度 演 舞 紹 介 ▽
    %a{href: "#"}
      = image_tag ('main_f.jpg')
    .main-f__text
      %h2 鳳遙恋 2019 廻覆 〜ヱフ〜
      .main-f__text--text
        %p
          夜な夜な
          %em.wolf> 人狼
          が現れる明治中期
        %p 
          スリルの無い日常、
          %em.lie> 嘘
          偽りの無い日常
        %p リスクも無く、順風満帆な世の中であろう。
        %p しかし、全てが「正しい」世界。
        %p それは果たして楽しいものだろうか。
        %p 
          人生 = " L I F E "  
          %em.lie> &nbsp; 嘘 = " L I E "
        %p 
          人生の中にも
          %em.lie> 嘘
          が含まれているのではないか？
        %p 
          時には「
          %em.lie> 嘘
          」というスパイスがあるから楽しい
        %p 
          %em.wolf> 人狼
          と隣り合わせだからこそこの街は奇妙で不気味で、
        %p ハラハラして楽しい... 
        %p ・
        %p ・
        %p ・
        %p その真は誰が為か
        %p さあさあ優しい嘘つきよ
        %p 日々を彩る驚きを、ついた嘘は最後まで
        %p 人の為に偽を纏え
      %a{href: "https://youtu.be/A95omfXSvKs"}〈youtube 演舞テーマ発表動画〉
  .body-sub
    = render 'performances/kakoenbu'
