= render 'shared/header'
.performance
  .performance-header
    %p.performance-header__logo ▽ performance introduction ▽
  .body-main
    .body-main__photo
      = image_tag ('soran.jpg')
    .body-main__f
      .body-main__f--image
        = image_tag ('f.png')
      .body-main__f--comment
        ここに廻覆の説明文
  .body-sub
    = render 'performances/kakoenbu'
    = render 'shared/credit'
