= render 'shared/header'
.member
  .kaisei 
    %p 2回生
    = image_tag ('2nd_top.png'), class: 'kaisei-img'
  .kaisei-main
    %p.text ・ - ・ - ・ - ・ - ・ - ・ - ・ - ・ - ・ - ・ - ・   ▼ profile ▼   - ・ - ・ - ・ - ・ - ・ - ・ - ・ - ・ - ・ - ・ - ・
    - @member_chiyokagura.each do |member|
      .member-box
        .member-box__image
          = image_tag member.image.url
        .member-box__name
          %p= member.name
        .member-box__text
          %p= member.text
        .member-box__job
          %p= member.job
        - if user_signed_in?
          = link_to edit_member_path(member.id) do
            %p.edit-btn 編集する
- if user_signed_in?
  %a{href: '/members/new', class: 'go-to-new'}メンバー投稿ページへ
  = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'go-to-logout'