.member-edit__top
  %p member編集画面
.member-before-image
  = image_tag @member.image.url
  %p 編集前の画像（ファイル変更してもこの画面上では変わりません）

.member-edit
  = form_for @member do |f|
    .member-edit__box
      %p 変更する画像を選択
      = f.file_field :image, name: "image", class: "member-edit__box--image"
      = f.text_field :name, placeholder: "#{@member.name}", name: "name", class: "member-edit__box--name"
      = f.text_field :job, placeholder: "#{@member.job}", name: "job", class: "member-edit__box--job"
      = f.text_field :text, placeholder: "#{@member.text}", name: "text", name: "text", class: "member-edit__box--text"
      = f.text_field :year, placeholder: "#{@member.year}", name: "year", name: "year", type: "string", class: "member-edit__box--year"
      = f.text_field :memberid, placeholder: "#{@member.memberid}", name: "memberid", type: "string", class: "member-edit__box--memberid"
      = f.submit '編集', class: "member-edit-btn"
      %p.attention-head 注意事項!!!
      %p.attention ・編集時に画像ファイルを選択しないとエラーが出ます(後日修正予定)
      %p.attention ・最後の数字は並び変える時に使ってください
      %p.attention ・enterキーを連打しすぎると勝手に投稿されます。


= link_to member_path(@member.id), class: "delete-btn", method: :delete do
  %p 削除する