= render 'shared/header'
.member
  .kaisei 
    %p 1回生
    = image_tag ('1st_top.png'), class: 'kaisei-img'
  .kaisei-main
    %p.text ・ - ・ - ・ - ・ - ・ - ・ - ・ - ・ - ・ - ・ - ・   ▼ profile ▼   - ・ - ・ - ・ - ・ - ・ - ・ - ・ - ・ - ・ - ・ - ・
    - @member_f.each do |member|
      .member-box
        .member-box__image
          = image_tag member.image.url
        .member-box__name
          %p= member.name
        .member-box__text
          %p= member.text
        .member-box__job
          - if empty?
            %p= member.job
            - else 
              %p
        - if user_signed_in?
          = link_to edit_member_path(member.id) do
            %p.edit-btn 編集する