- if user_signed_in?
  .members-create-top
    %p メンバー追加画面 / 年度は半角でお願いします
  .member-create
    = form_for @member do |f|
      = f.text_field :name, placeholder: "よさ名", name: "name"
      = f.text_field :nickname, placeholder: "普段呼ばれている名前", name: "nickname"
      = f.text_field :job, placeholder: "役職", name: "job"
      = f.text_field :text, placeholder: "テキスト", name: "text", name: "text"
      = f.text_field :year, placeholder: "何年入恋か？", name: "year", name: "year", type: "string"
      = f.text_field :memberid, placeholder: "メンバーid", name: "memberid", type: "string"
      = f.file_field :image, name: "image"
      = f.submit '投稿'
      
- else
  = link_to new_user_session_path do
    %p you must log_in !!
  %p (if you've already signed_in, no problem)
