= render 'shared/header'
.member
  .kaisei 
    %p 3回生
    = image_tag ('3rd_top.png'), class: 'kaisei-img'
  .baka-logo
    %h1 17代目 鳳遙恋
    %h2 『馬鹿になれ』
    %p 『馬鹿になれ』みんなはこの言葉を見てどう感じるでしょうか？
    %p 「馬鹿」という言葉は本来頭が良くないとか常識を知らないという意味で
    %p 使われる言葉で、あんまりいい印象を受けない人もいると思います。
    %p でも自分はこの言葉が大好きです。
    %p 自分が過ごしてきた環境では「野球馬鹿」という言葉があって、一つのことに
    %p 熱心に打ち込む「○◯馬鹿」は愛されるべき褒め言葉だと思います。
    %p みんなもわかってると思うけど、鳳遙恋にはいろんな人が所属しています。
    %p もちろんよさこいが好きな人、遊びが好きな人、飲みが好きな人、交流が好きな人、
    %p よさこい馬鹿、遊び馬鹿、飲み馬鹿、交流馬鹿 ...etc
    %p 自分はどの道でもいいからみんなに自分が馬鹿になれる道を見つけて欲しいです。
    %p そして周りのみんなはそれぞれの馬鹿を応援してあげて欲しいです。
    %p あとひとつ、俺らの先輩は間違いなく愛されるべきおバカな人達でした。
    %p あの人たちと比べて馬鹿になりきれない俺らは色々と言われてきたけど、
    %p 殻を破って馬鹿になった奴らのやることほど恐ろしいものは無いと思います。
    %p 2019年11月、殻を破って馬鹿になったみんなと東急メイン踊りたいです。
    %p 馬鹿で感動を生み出そう。その為に1年間馬鹿になれ。
    %h3 17代目 代表 爽やかサトル
  .kaisei-main
    %p.text  ▼ profile ▼
    %p.text-t 〜 個人プロフィール 〜
    - @member_senko.each do |member|
      .member-box
        .member-box__image
          = image_tag member.image.url
        .member-box__name
          %p= member.name
        .member-box__text
          %p= member.text
        .member-box__job
          %p= member.job
        - if user_signed_in?
          = link_to edit_member_path(member.id) do
            %p.edit-btn 編集する
- if user_signed_in?
  %a{href: '/members/new', class: 'go-to-new'}メンバー投稿ページへ
  = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'go-to-logout'