= render 'shared/header'
.kaisei 
  %p 3回生
.kaisei-img
  = image_tag ('3rd_top.png'), class: 'kaisei-img__img'
.kaisei-main
  %p.kaisei-main__logo - ・ - ・ - ・ - ・ - ・ - ・ - ・ - ・ - ・ - ・ - ・   ▼ profile ▼   - ・ - ・ - ・ - ・ - ・ - ・ - ・ - ・ - ・ - ・ - ・
  - @member_senko.each do |member|
    .member-box
      .member-box__image
        = image_tag member.image.url
      .member-box__name
        %p= member.name
      .member-box__text
        %p= member.text
      .member-box__job
        %p= member.job
      - if user_signed_in?
        = link_to edit_member_path(member.id) do
          %p 編集する