= render 'shared/header'
.kaisei 
  %p 3回生
.kaisei-img
  = image_tag ('3rd_top.png'), class: 'kaisei-img__img'
.kaisei-main
  %p.kaisei-main__logo - ・ - ・ - ・ - ・ - ・ - ・ - ・ - ・ - ・ - ・ - ・   ▼ profile ▼   - ・ - ・ - ・ - ・ - ・ - ・ - ・ - ・ - ・ - ・ - ・
  .kaisei-main__people
    .kaisei-main__people--image
      = image_tag ('sawayakasatoru.png')
    .kaisei-main__people--job
      %p 鳳遙恋17代目 代表   /旗担当 /合宿担当
    .kaisei-main__people--text
      %p 楠にジャーマンスープレックスする男って書いてって頼まれたよ 書いたよ
  .kaisei-main__people
    .kaisei-main__people--image
      = image_tag ('painijosaidaikouyakusu.png')
    .kaisei-main__people--job
      %p 鳳遙恋17代目 副代表 /衣装制作
    .kaisei-main__people--text
      %p 楠にジャーマンスープレックスする男って書いてって頼まれたよ 書いたよ
  .kaisei-main__people
    .kaisei-main__people--image
      = image_tag ('taguchiemiko.png')
    .kaisei-main__people--job
      %p 鳳遙恋17代目 副代表 /合宿担当 /会計担当
    .kaisei-main__people--text
      %p 楠にジャーマンスープレックスする男って書いてって頼まれたよ 書いたよ
  .kaisei-main__people
    .kaisei-main__people--image
      = image_tag ('doppio.png')
    .kaisei-main__people--job
      %p 練習担当長 /振り制 /HP制作
    .kaisei-main__people--text
      %p 楠にジャーマンスープレックスする男って書いてって頼まれたよ 書いたよ
  - @member_senko.each do |member|
    .member-box
      .member-box__image
        = image_tag member.image.url
      .member-box__name
        %p= member.name
      .member-box__text
        %p= member.text
      .member-box__job
        %p= member.job
      - if user_signed_in?
        = link_to edit_member_path(member.id) do
          %p 編集する